:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input .error {
  border: red solid 1px !important;
}

.scroll-box {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #88888886 #f1f1f189;
}

.scroll-box::-webkit-scrollbar {
  width: 5px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.scroll-box::-webkit-scrollbar-track {
  background: #f1f1f195;
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: #8888888a;
  border-radius: 5px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
  background: #5555559c;
}


.hidden {
  display: none;
}

.inline-flex {
  display: inline-flex;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}